<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- SQL Server connection string -->
		<add key="DBConnectionString" value="Data Source=NEPTUN\DVLP2008;Initial Catalog=FwEmpty;Integrated Security=true"/>
		<!-- Path must have trailing slash -->
		<add key="SQLBackupLocation" value="E:\Backup\"/>
		<!-- Path must have trailing slash -->
		<add key="LoggingPath" value="E:\Backup\"/>
		<!-- Boolean-->
		<add key="DateStampBackupFiles" value="True"/>
		<!-- Boolean-->
		<add key="DeleteOldBackups" value="True"/>
		<!-- Integer -->
		<add key="DeleteBackupsAfterDays" value="7"/>
		<!-- Integer -->
		<add key="ConsoleWaitBeforeCloseSeconds" value="5"/>
		<!-- DbName -->
		<add key="DbName" value="'FwEmpty'"/>
		<!-- BackupTime -->
		<add key="BackupTime" value="86400000"/>
	</appSettings>
	<startup/>
</configuration>
